<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- <h1>Welcome to the static web</h1>
    <button class="btn btn-danger">Click</button> -->
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-10 mx-auto">
                <div class="row">
                    <!-- Left side div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">

                        <figure class="errimg">
                            <img src="images/404.png" alt="error" class="img-fluid" title="error-image">
                        </figure>

                        <p>Welcome to Sushrut's Kingdom</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>Go Back..</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>